/************* Layout ****************/

/* class -> .text-red{} */
/* id -> #id-bilgisi{} */



/* ID Kullanımı */
#first-article {
    font-size: 10px;
}

#second-article {
    font-size: 20px;
    background-color: blueviolet;
}

.text-red {
    color: rebeccapurple;
}

.fs-14 {
    font-size: 100px;
}

.fs-20 {
    font-size: 20px;
}

.fs-30 {
    font-size: 30px;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
    color: #996600;
} */